- Need to extract `X_test` and `y_test` to CSV [x]
- For each random row we need to convert it to dict and then using `httpx.post()` we will send the request to our FastAPI endpoint
  and from the recieved response we will extract necessary information. We will do something like this with the response:

```python
  response = requests.post(url, json=customer).json()
print(response)

if response['churn'] == True:
    print('sending promo email to %s' % customer_id)
else:
    print('not sending promo email to %s' % customer_id)
```

In [1]:
import httpx

In [2]:
import pandas as pd

In [10]:
df_test = pd.read_csv("./test-data.csv")
df_test.head()

,seniority,income,assets,time,amount,monthly_payment,job,home,records,status
0,-0.854817,-0.409840,0.230197,0.106545,-0.292772,-0.322327,fixed,private,no,1
1,0.980407,-0.248520,-0.116871,0.106545,-1.135778,-0.807596,fixed,owner,no,0
2,0.001621,0.316100,-0.160255,0.925444,0.550233,-0.152220,fixed,owner,no,0
3,1.714497,-0.110246,0.143430,-0.712354,-0.819651,-0.362523,fixed,owner,no,0
4,0.246317,1.099655,1.705236,-0.712354,2.025493,1.822063,freelance,owner,no,0

Since test data serves as proxy for real scenario where we don't know the ground truth we need to drop the `status` column and pretend it doesn't exist.

In [14]:
del df_test['status']

In [12]:
import random

In [24]:
random_index = random.randint(0,len(df_test)-1)
random_row = df_test.iloc[random_index].to_dict()

Let's test if this could be POST to https://httpbin.org/post .

In [25]:
url = 'https://httpbin.org/post'
r = httpx.post(url, data=random_row)

In [26]:
r

In [27]:
random_row

{'seniority': 0.7357104035909454,
 'income': -0.3407031698861751,
 'assets': -0.4639393146108877,
 'time': 0.1065451583089126,
 'amount': -0.5035235815768409,
 'monthly_payment': -0.443498375820261,
 'job': 'fixed',
 'home': 'parents',
 'records': 'yes'}

Might be also a good idea to create some 'fake' unique identifiers of customers.

In [41]:
import numpy as np

def generate_random_id(_: None) -> str:
    return ''.join([str(i) for i in np.random.choice(range(10), size=4)])

generate_random_id(_)

'5006'

In [42]:
df_test['id'] = df_test.apply(generate_random_id, axis=1)

In [43]:
df_test.head()

,seniority,income,assets,time,amount,monthly_payment,job,home,records,id
0,-0.854817,-0.409840,0.230197,0.106545,-0.292772,-0.322327,fixed,private,no,8592
1,0.980407,-0.248520,-0.116871,0.106545,-1.135778,-0.807596,fixed,owner,no,7946
2,0.001621,0.316100,-0.160255,0.925444,0.550233,-0.152220,fixed,owner,no,4843
3,1.714497,-0.110246,0.143430,-0.712354,-0.819651,-0.362523,fixed,owner,no,3346
4,0.246317,1.099655,1.705236,-0.712354,2.025493,1.822063,freelance,owner,no,1751

In [46]:
random_row

{'seniority': 0.4910138320646734,
 'income': 0.4313286504784016,
 'assets': -0.2036382690354805,
 'time': 0.9254444423605044,
 'amount': -1.6626562140533214,
 'monthly_payment': -1.1716937362243476,
 'job': 'fixed',
 'home': 'owner',
 'records': 'no',
 'id': '8957'}

In [45]:
random_index = random.randint(0,len(df_test)-1)
random_row = df_test.iloc[random_index].to_dict()

url = 'https://httpbin.org/post'
r = httpx.post(url, data=random_row)
r

In [52]:
random_row

{'seniority': 0.4910138320646734,
 'income': 0.4313286504784016,
 'assets': -0.2036382690354805,
 'time': 0.9254444423605044,
 'amount': -1.6626562140533214,
 'monthly_payment': -1.1716937362243476,
 'job': 'fixed',
 'home': 'owner',
 'records': 'no',
 'id': '8957'}

In [55]:
type(random_row)

dict

In [67]:
#Testing if our FastAPI endpoint POST method returns appropriate JSON

url = 'http://localhost:8000/post'
r = httpx.post(url, json = random_row)

r.json()

{'Yo': 'It Works!', 'cust': '0.4910138320646734'}

In [ ]:
#TODO

In [ ]:
'''
print(
    requests.post(
        "http://127.0.0.1:8000/",
        json={"name": "Screwdriver", "price": 3.99, "count": 'Hello', "id": 4},
    ).json()
)
'''

In [ ]:
#Make sending the requests with connection pooling and also introduce await and async, but don't forget to do that too in the API.py