In [1]:
import joblib
import pandas as pd

In [2]:
!ls credit-scoring-api/ml-api/data/

test-data.csv

In [3]:
# Load the saved ColumnTransformer
loaded_column_transformer = joblib.load('./models/column_transformer.pkl')

In [11]:
expected_dict = {'seniority': 0.7357104035909454,
                                  'income': -0.3407031698861751,
                                  'assets': -0.4639393146108877,
                                  'time': 0.1065451583089126,
                                  'amount': -0.5035235815768409,
                                  'monthly_payment': -0.443498375820261,
                                  'job': 'fixed',
                                  'home': 'parents',
                                  'records': 'yes',
                                  'status': 1} # Keep this always 1 but you will never need it.

In [12]:
df = pd.DataFrame([expected_dict])
df

,seniority,income,assets,time,amount,monthly_payment,job,home,records,status
0,0.73571,-0.340703,-0.463939,0.106545,-0.503524,-0.443498,fixed,parents,yes,1

In [13]:
cust_scaled = loaded_column_transformer.transform(df)

In [33]:
cust_scaled

array([[-0.24307588, -0.0526316 , -0.11687125,  0.10654516,  0.23410628,
        -0.06891468,  3.        ,  2.        ,  1.        ,  1.        ]])

In [ ]:
#drop the last element of cust_scaled because it is not needed